.nav-item{
    margin-left: 80px;
}
.navbar-header{
     font-size: 30px
}
.aa{
    padding-left: 520px;
}
.twoo{
    background-image: url(/assets/image/360_F_290828816_pbLVbblZaoCMVSeDxtayjDZNfrMAlvrQ.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}
.container{
    background: rgba(0, 0, 0, 0.9); 
}
.fadeIn  img{
    height: 400px;
    border-radius: 10px;
}
#spin:after {
    content:"";
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0% { content:"I'M VIGNESHWARAN";}
    100% { content: "FRONT END DEVELOPER"; }
}
.th h1 {
    color: #18d26e;
    width: 22ch;
    animation: typing 3s steps(20) infinite, blink .4s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
@keyframes typing {
    from {
      width: 0;
    }
}
@keyframes blink {
    50% {
      border-color: transparent
    }
}
@media(max-width: 1044px){
    .nav-item{
        margin-left: 60px;
    }
    .aa{
        padding-left: 200px;
    }
    .twoo{
        background-size: cover;
        background-attachment: fixed;
    }
}
