<nav class="navbar navbar-expand-sm" style="background-color: rgba(0, 0, 0, 0.9);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item aa">
            <a class="nav-link" routerLink='/home' style="color: #18d26e;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/about' style="color: #18d26e;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resume" style="color: #18d26e;">Resume</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" style="color: #18d26e;">Contact</a>
          </li>  
        </ul>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-------------------------------------------- section1 --------------------------------------------------------->
<div [ngClass]="two" class="col-12"><br>
  <div class="container col-md-11">
    <h5 [ngStyle]="x">{{a}}</h5><hr>
    <h1>{{aone}}</h1><br>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile colspan="1" rowspan="1">
        <h3 style="margin-left: -480px;">{{rs}}</h3><br>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <h3 style="margin-left: -480px;">{{re}}</h3>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile colspan="1" rowspan="2">
        <div class="so reveal">
          <h4>{{rso}}</h4>
        <p>{{rsp}}</p>
          <ul>
            <li>Portland par 127,Orlando, FL</li>
            <li>(123) 456-7891</li>
            <li>alice.barkleyexample.com</li>
          </ul>
      </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="2">
        <div class="so reveal">
          <h4>{{reo}}</h4>
          <h5>2020-2023</h5>
          <p><b>{{repo}}</b></p>
          <p>{{rept}}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list><br>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile colspan="1" rowspan="1">
        <h3 style="margin-left: -430px;">{{rt}}</h3><br>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <h3 style="margin-left: -480px;">{{rl}}</h3>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile colspan="1" rowspan="2">
        <div class="so reveal">
          <h4>{{rto}}</h4>
          <h5>2020-2023</h5>
          <p>{{rtp}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="2">
        <div class="sosk">
        <div class="so reveal">
          <h4>{{rlo}}</h4>
          <ul>
            <li>Web Technologies - HTML, CSS ,JAVASCRIPT</li>
            <li>Tool (IDEs) - Visual Studio Code</li>
            <li>Front End - BOOTSTRAP, ANGULAR</li>
            <li>Database - Mysql</li>
          </ul>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="dl">
      <a href="/image/Resume - vicky.pdf" download="vigneshwaran-resume">
        download</a>
    </div><br>
  </div><br>
</div>